<div style="display: flex;">
    <h1>Settings</h1>
    <span *ngIf="!emailParameters.length" (click)="addCard()" style="font-size: 34px; color: green; cursor: pointer;"
        class="material-symbols-outlined ms-3">
        add_circle
    </span>
</div>

<div class="insights">
    <div class="sales">
        <span class="material-symbols-outlined icons">
            person
        </span>
        <div class="right">
            <div class="input-box">
                <h2>Admin Settings</h2>
                <form #updateUserForm="ngForm" (ngSubmit)="updateUser(updateUserForm)">
                    <div class="input-field mb-2">
                        <div style="display: flex; gap: 0.5rem; height: 21px;">
                            <label for="firstName">İsim</label>
                            <p *ngIf="!userModel.firstName" style="color: red; font-size: 14px;">*</p>
                        </div>
                        <input [(ngModel)]="userModel.firstName!" validate type="text" name="firstName"
                            class="form-control" id="firstName" required autocomplete="off">
                    </div>

                    <div class="input-field mb-2">
                        <div style="display: flex; gap: 0.5rem; height: 21px;">
                            <label for="lastName">Soyisim</label>
                            <p *ngIf="!userModel.lastName" style="color: red; font-size: 14px;">*</p>
                        </div>
                        <input [(ngModel)]="userModel.lastName!" validate type="text" name="lastName"
                            class="form-control" id="lastName" required autocomplete="off">
                    </div>

                    <div class="input-field mb-2">
                        <div style="display: flex; gap: 0.5rem; height: 21px;">
                            <label for="userName">Kullanıcı Adı</label>
                            <p *ngIf="!userModel.userName" style="color: red; font-size: 14px;">*</p>
                        </div>
                        <input [(ngModel)]="userModel.userName" validate type="text" name="userName"
                            class="form-control" id="userName" required autocomplete="off">
                    </div>

                    
                    <div class="input-field">
                        <div class="btns">
                            <button [disabled]="" class="submit" type="submit">
                                <i class="fa-solid fa-floppy-disk"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="sales">
        <span class="material-symbols-sharp icons">password</span>
        <div class="right">
            <div class="input-box">
                <h2>Change Password</h2>
                <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)">
                    <div class="input-field mb-3">
                        <label for="password">Mevcut Şifre</label>
                        <input [(ngModel)]="changePasswordModel.currentPassword" validate type="password"
                            name="password" class="form-control" id="password" autocomplete="off">
                    </div>
                    <div class="input-field">
                        <label for="password">Yeni Şifre</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="changePasswordModel.newPassword" required minlength="8" validate
                                (focus)="isPasswordFocus = true" (blur)="isPasswordFocus = false" #password
                                name="password" (keyup)="checkRegexPatternForPassword(password)" type="password"
                                class="form-control">
                            <span class="input-group-text icons" id="basic-addon1">
                                <i (click)="showOrHidePassword(password)" *ngIf="!isShowPassword"
                                    class="fa-solid fa-eye"></i>
                                <i (click)="showOrHidePassword(password)" *ngIf="isShowPassword"
                                    class="fa-solid fa-eye-slash"></i>
                            </span>
                        </div>
                        <div *ngIf="isPasswordFocus" class="psswrd-req">
                            <ul class="password-ul">
                                <li class="pw-error" id="minCharacter">Min 8 Character</li>
                                <li class="pw-error" id="upperLetter">Upper Case</li>
                                <li class="pw-error" id="lowerLetter">Lower Case</li>
                            </ul>
                            <ul class="password-ul">
                                <li class="pw-error" id="specialLetter">Special Character</li>
                                <li class="pw-error" id="numLetter">Number</li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="btns">
                            <button [disabled]="" class="submit">
                                <i class="fa-solid fa-floppy-disk "></i>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div *ngIf="addCardDiv" class="sales">
        <span class="material-symbols-outlined icons">
            mail
            </span>
        <div class="right">
            <div class="input-box">
                <h2>Email Settings</h2>
                <form #createEmailJsParameterForm="ngForm" (ngSubmit)="creteEmailParameter(createEmailJsParameterForm)">
                    <div class="input-field mb-2">
                        <div style="display: flex; gap: 0.5rem; height: 21px;">
                            <label for="email">Email</label>
                            <p *ngIf="!emailParameterModel.email" style="color: red; font-size: 14px;">*</p>
                        </div>
                        <input [(ngModel)]="emailParameterModel.email!" validate type="text" name="email"
                            class="form-control" id="email" required autocomplete="off">
                    </div>
                    <div class="input-field mb-2">
                        <div style="display: flex; gap: 0.5rem; height: 21px;">
                            <label for="appPassword">App Password</label>
                            <p *ngIf="!emailParameterModel.appPassword" style="color: red; font-size: 14px;">*</p>
                        </div>
                        <input [(ngModel)]="emailParameterModel.appPassword" validate type="text" name="appPassword"
                            class="form-control" id="appPassword" required autocomplete="off">
                    </div>

                    <div class="input-field mb-2">
                        <div style="display: flex; gap: 0.5rem; height: 21px;">
                            <label for="smtpDomainName">Smtp Domain Name</label>
                            <p *ngIf="!emailParameterModel.smtpDomainName" style="color: red; font-size: 14px;">*</p>
                        </div>
                        <input [(ngModel)]="emailParameterModel.smtpDomainName" validate type="text" name="smtpDomainName"
                            class="form-control" id="smtpDomainName" required autocomplete="off">
                    </div>

                    <div class="input-field mb-2">
                        <div style="display: flex; gap: 0.5rem; height: 21px;">
                            <label for="smtpPort">Smtp Port</label>
                            <p *ngIf="!emailParameterModel.smtpPort" style="color: red; font-size: 14px;">*</p>
                        </div>
                        <input [(ngModel)]="emailParameterModel.smtpPort" validate type="number" name="smtpPort"
                            class="form-control" id="smtpPort" required autocomplete="off">
                    </div>

                    
                    <div class="input-field">
                        <div class="btns">
                            <button [disabled]="" class="submit">
                                <i class="fa-solid fa-floppy-disk"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @for (emailParameter of emailParameters; track emailParameter) {
        <div class="sales">
            <span class="material-symbols-outlined icons">
                mail
                </span>
            <div class="right">
                <div class="input-box">
                    <h2>Email Settings</h2>
                    <form #updateEmailParameterForm="ngForm" (ngSubmit)="updateEmailParameter(updateEmailParameterForm, emailParameter)">
                        <div class="input-field mb-2">
                            <div style="display: flex; gap: 0.5rem; height: 21px;">
                                <label for="email">Email</label>
                                <p *ngIf="!emailParameter.email" style="color: red; font-size: 14px;">*</p>
                            </div>
                            <input [(ngModel)]="emailParameter.email!" validate type="text" name="email"
                                class="form-control" id="email" required autocomplete="off">
                        </div>
                        <div class="input-field mb-2">
                            <div style="display: flex; gap: 0.5rem; height: 21px;">
                                <label for="appPassword">App Password</label>
                                <p *ngIf="!emailParameter.appPassword" style="color: red; font-size: 14px;">*</p>
                            </div>
                            <input [(ngModel)]="emailParameter.appPassword" validate type="text" name="appPassword"
                                class="form-control" id="appPassword" required autocomplete="off">
                        </div>
    
                        <div class="input-field mb-2">
                            <div style="display: flex; gap: 0.5rem; height: 21px;">
                                <label for="smtpDomainName">Smtp Domain Name</label>
                                <p *ngIf="!emailParameter.smtpDomainName" style="color: red; font-size: 14px;">*</p>
                            </div>
                            <input [(ngModel)]="emailParameter.smtpDomainName" validate type="text" name="smtpDomainName"
                                class="form-control" id="smtpDomainName" required autocomplete="off">
                        </div>
    
                        <div class="input-field mb-2">
                            <div style="display: flex; gap: 0.5rem; height: 21px;">
                                <label for="smtpPort">Smtp Port</label>
                                <p *ngIf="!emailParameter.smtpPort" style="color: red; font-size: 14px;">*</p>
                            </div>
                            <input [(ngModel)]="emailParameter.smtpPort" validate type="number" name="smtpPort"
                                class="form-control" id="smtpPort" required autocomplete="off">
                        </div>
                        
                        <div class="input-field">
                            <div class="btns">
                                <button [disabled]="" class="submit">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                    Update
                                </button>
                                <button type="button" (click)="deleteEmailParameterById(emailParameter.id!)" class="btn btn-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>