<div style="display: flex;">
    <h1>Worker Assignments</h1>
</div>

<!-- <div class="insights" style="display: flex;">
    <div class="sales" style="background: transparent; box-shadow: none;">
        <div class="right">
            <div class="input-box">
                <flexi-grid [filterable]="false" [filterable]="false"
                    [commandColumnTemplate]="customButtonColumnTemplate" [commandColumnTextAlign]="'center'"
                    [stickyCommandColumn]="true" [showCommandColumn]="true" themeClass="light" themeClass="light"
                    [data]="workers">
                    <flexi-grid-column field="firstName" title="First Name"></flexi-grid-column>
                    <flexi-grid-column field="lastName" title="Last Name"></flexi-grid-column>
                    <flexi-grid-column field="departmentInfo.departmentName" title="Department"></flexi-grid-column>

                    <ng-template #customButtonColumnTemplate let-item="item">
                        
                        <flexi-button (click)="routeWorker(item.id)"  btnColor="primary">
                            <i class="fa-solid fa-eye"></i>
                        </flexi-button>
                        
                    </ng-template>
                </flexi-grid>
            </div>
        </div>
    </div>
</div> -->

<div class="insights" style="display: flex;">
    <table class="table table-striped" style="margin-top: 70px;">
        <thead>
            <tr>
                <th scope="col">Worker Name</th>
                <th scope="col">Product Name</th>
                <th scope="col">Machine Name</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let workerAssignment of workerAssignments">
                <td>{{workerAssignment.userInfo.fullName}}</td>
                <td>{{workerAssignment.workerProductionInfo.productInfo.productName}}</td>
                <td>{{workerAssignment.machineInfo.machineName}}</td>
                <td>
                    <button routerLink="/worker-assignment/{{workerAssignment.id}}" class="btn btn-success mr-2"><a ><i class="fa-solid fa-eye"></i></a></button>
                    <button  type="button" (click)="updateWorkerAssignmetIsActive(workerAssignment.id!)" class="btn btn-primary">
                        <i *ngIf="workerAssignment.isActive" style="font-size: 18px;" class="fa-solid fa-square-check"></i>
                        <i *ngIf="!workerAssignment.isActive" style="font-size: 18px;" class="fa-solid fa-square"></i>
                    </button>
                    <!-- <button class="btn btn-success mr-2" (click)="openModal(user)"><i
                            class="fa-solid fa-eye"></i></button> -->
                    <!-- <button class="btn btn-danger" (click)="deleteUserById(worker.id!, worker.userName)"><i
                            class="fa-solid fa-trash"></i></button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="insights">
    <div class="sales">
        <span class="material-symbols-outlined icons">
            assignment_ind
        </span>
        <h2 class="mt-2">Add Assignment</h2>
        <div class="right">

            <div class="input-box">

                <div class="input-field mb-2">
                    <div style="display: flex; gap: 0.5rem; height: 21px;">
                        <label for="departmentId">Worker</label>
                        <p *ngIf="!workerAssignmentModel.appUserId" style="color: red; font-size: 14px;">*</p>
                    </div>
                    <select class="form-control" (change)="onWorkerChange($event)">
                        <option value="">Select worker...</option>
                        <option *ngFor="let worker of workers" [value]="worker.id">{{ worker.fullName }}
                        </option>
                    </select>
                </div>

                <div class="input-field mb-2">
                    <div style="display: flex; gap: 0.5rem; height: 21px;">
                        <label for="departmentId">Machine</label>
                        <p *ngIf="!workerAssignmentModel.machineId" style="color: red; font-size: 14px;">*</p>
                    </div>
                    <select class="form-control" (change)="onMachineChange($event)">
                        <option value="">Select machine...</option>
                        <option *ngFor="let machine of machines" [value]="machine.id">{{ machine.machineName }}
                        </option>
                    </select>
                </div>

                <div class="input-field mb-2">
                    <div style="display: flex; gap: 0.5rem; height: 21px;">
                        <label for="departmentId">Production</label>
                        <p *ngIf="!workerAssignmentModel.workerProductionId" style="color: red; font-size: 14px;">*</p>
                    </div>
                    <select class="form-control" (change)="onWorkerProductionChange($event)">
                        <option value="">Select production...</option>
                        <option *ngFor="let workerProduction of workerProductions" [value]="workerProduction.id">{{ workerProduction.productInfo.productName }}
                        </option>
                    </select>
                </div>

                <div class="input-field mb-2">
                    <div style="display: flex; gap: 0.5rem; height: 21px;">
                        <label for="startTime">Start Time</label>
                        <p *ngIf="!workerAssignmentModel.startTime" style="color: red; font-size: 14px;">*</p>
                    </div>
                    <input [(ngModel)]="workerAssignmentModel.startTime!" validate type="date" name="startTime"
                        class="form-control" id="startTime" required autocomplete="off">
                </div>

                <!-- <div class="input-field mb-2">
                    <div style="display: flex; gap: 0.5rem; height: 21px;">
                        <label for="endTime">End Time</label>
                    </div>
                    <input [(ngModel)]="workerAssignmentModel.endTime!" validate type="date" name="endTime" class="form-control"
                        id="endTime" required autocomplete="off">
                </div> -->

                <div class="input-field">
                    <div class="btns">
                        <button (click)="createWorkerAssignment()" [disabled]="" class="submit">
                            <i class="fa-solid fa-floppy-disk"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>