<div style="display: flex;">
    <h1>Departments</h1>
    <span (click)="addCard()" style="font-size: 34px; color: green; cursor: pointer;"
        class="material-symbols-outlined ms-3">
        add_circle
    </span>
</div>

<div class="insights">

    <div *ngIf="addCardDiv" class="sales">
        <span class="material-symbols-outlined icons">
            groups
        </span>
        <div class="right">
            <div class="input-box">
                <form #createDepartmentForm="ngForm" (ngSubmit)="createDepartment(createDepartmentForm)">
                    <div class="input-field mb-2">
                        <label for="departmentName">Department Name</label>
                        <input [(ngModel)]="departmentModel.departmentName" validate type="text" name="departmentName" class="form-control"
                            id="departmentName" required autocomplete="off">
                    </div>

                    <div class="input-field mb-2">
                        <label for="departmentDescription">Department Description</label>
                        <textarea [(ngModel)]="departmentModel.departmentDescription" validate type="text" name="departmentDescription" class="form-control"
                            id="departmentDescription" autocomplete="off"></textarea>
                    </div>
                    <div class="input-field">
                        <div class="btns">
                            <button [disabled]="" class="submit">
                                <i class="fa-solid fa-floppy-disk "></i>
                                <!-- Save -->
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    @for (department of departments; track department) {

        <div class="sales">
            <span class="material-symbols-outlined icons">
                apartment
                </span>
            <div class="right">
                <div class="input-box">
                    <h2>Department</h2>
                    <form #updateDepartmentForm="ngForm" (ngSubmit)="updateDepartment(updateDepartmentForm, department)">
                        <div class="input-field mb-2">
                            <label for="departmentName">Department Name</label>
                            <input [(ngModel)]="department.departmentName" validate type="text" name="departmentName" class="form-control"
                                id="departmentName" required autocomplete="off">
                        </div>
    
                        <div class="input-field mb-2">
                            <label for="departmentDescription">Department Description</label>
                            <textarea [(ngModel)]="department.departmentDescription" validate type="text" name="departmentDescription" class="form-control"
                                id="departmentDescription" autocomplete="off"></textarea>
                        </div>
    
                        <div class="input-field">
                            <div class="btns">
                                <button [disabled]="" class="submit">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                    Save
                                </button>

                                <button type="button" (click)="deleteDepartmentById(department.id!)" class="btn btn-danger mr-3">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    
</div>